<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Jansuraj Volunteers{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    {% block extra_head %}{% endblock %}
</head>
<body class="flex flex-col min-h-screen bg-white text-gray-900">

    {% include 'navbar.html' %}   

    <div class="container mx-auto mt-32 flex-grow">
        {% block content %}{% endblock %}
    </div>

    {% include 'footer.html' %}   

    {% block extra_js %}{% endblock %}
</body>
</html>
